.container {
  background-color: wheat;
  height: 700px;
  width: 100%;
}
.headline {
  color: gray;
  position: relative;
  left: 30px;
}
.content {
  border: 1px solid black;
  color:black;
  position: relative;
  left: 30px;
  width: 90%;
  padding: 20px;
  outline: skyblue solid 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.title {
  color:deeppink;
  position: relative;
  left: 30px;
  margin-top: 30px;
}
.legend {
  color:peru;
  position: relative;
  left: 30px;
}
.recommend {
  color:black;
  position: relative;
  left: 900px;
}
.video {
  position: relative;
  width: 300px;
  height: 200px;
  left: 900px;
}
.defaultWord {
  color:peru;
  display:inline;
}